body
{
	width: 100%;
	background-color:#FFFFFF;
	font-size:75%;	
}

#menubar,#footer, #footer_info, #footer_spacer , #set_feedback, #print_button, #edit_sale
{
	display:none;
}

#content_area
{
	padding: 0px 10px 0px 10px;
	width:90%;
}

#content_area_wrapper
{
	background: none;
	width: 100%;
	border:0px;
	padding: 0px 0px 0px 0px;
}

#sale_return_policy
{
	width:100%;
	text-align:center;
}

.long_name
{
	display:none;
}

.short_name
{
	display:inline;
}

.report
{
	font-size:20px;
}